{% extends "base.html" %}
{% block title %}Welcome!{% endblock %}

{% block content %}
<div class="container">
    <h1>FSND Catalog</h1>
    <div class="row">
        <div class="col-4">
            <h2>Categories</h2>
            <ul>
                {% for c in category %}
                <li><a href="{{ url_for('category_list', cat_id=c.id) }}">{{ c.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('add_category') }}">Add new category</a>
        </div>
        <div class="col-8">
            <h2>Newest Items</h2>
            <ul>
                {% for i in items %}
                <li><a href="{{ url_for('item', item_id= i.id) }}">{{ i.name }} ({{ i.category.name }})</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
