<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="Fullstack Nanodegree Catalog Project">
    <meta name="author" content="Jun Clemente">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-con">
    <link rel="icon" hrefe="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-con">

    {# Bootstrap CDN Links #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {# End Bootstrap Links #}
    <link rel="stylesheet" hreef="{{ url_for('static', filename='styles.css') }}">

    {# Prerequisites for Google Sign In #}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
{# End Pre-requisisted for Google Sign In #}

<body>
<div class="container">
    <h1>Login</h1>

    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1>Login with Google</h1>
        </div>
    </div>
    <div id="result"></div>
    <div>
        <button class="g-signin2" id="signinButton">Sign in with Google</button>

        <script>
            $('#signingButton').click(function() {
                auth2.grantOffineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
            });
        </script>
    </div>

    <script>
        function signInCallback(json){
            console.log('inside callback function');
            console.log(json);
            authResult = json;
            if (authResult['code']){
                $('#signinButton').attr('style', 'display: none');
                $('#result').html('One-Time Auth Code:</br>'+ authResult['code'] + '')
            }
        }
    </script>

    <h3>Local Login</h3>

    <form action="{{ url_for('login') }}" method="post">
<!--         Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
 -->
        {{ form.csrf_token }}
        {{ form.name.label }}<br>
        {{ form.name(size=20) }}<br>
        {{ form.password.label }}<br>
        {{ form.password(size=20) }}<br>
        {{ form.submit }}<br>
    </form>
</div>

{# The following links are required for Bootstrap #}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
            client_id: '950296359546-tr6a0qci8smluvackvmj51bruuu73qos.apps.googleusercontent.com',
            });
        });
    </script>
</body>
</html>
